@import '../../../styles.scss';

header {
  padding: 1rem 0;
  background-color: $primary-color;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .header__title {
      color: $white-color;
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
    }
  }

  .header__btn-action {
    padding: 0.5rem 2rem;
    font-weight: $font-weight-bold;
    background-color: $secondary-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}