@import '../../../styles.scss';

.list-content {
  background-color: $gray-color;
  min-height: 100vh;
  padding: 2rem 0;

  .list-content__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 1rem;
    }
  }
}