@if(!noteId) {
<div>
  <h3>
    <input type="text" [(ngModel)]="data.title" />
  </h3>

  <p>
    <textarea [(ngModel)]="data.content"></textarea>
  </p>

  <button class="btn-add" (click)="createNote(data)">Salvar</button>
</div>
} @else {
<div *ngIf="$note | async as note; else loading">
  <h3>
    <input type="text" [(ngModel)]="note.title" />
  </h3>

  <p>
    <textarea [(ngModel)]="note.content"></textarea>
  </p>
  <button class="btn-add" (click)="createNote(data)">Salvar</button>
</div>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>}