@import '../../../styles.scss';

.container {
  background-color: $gray-color;
  min-height: 100vh;
}

.text-note-detail__container {
  background-color: $white-color;
  border-radius: $border-radius;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: $item-padding;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-note-detail__content {
  cursor: pointer;

  .text-note-detail__title {
    color: $text-color;
    font-size: 1rem;
    margin: 0;
  }

  .text-note-detail__text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  .text-note-detail__btn-save {
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.3rem 1rem;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  
  .text-note-detail__error-message {
    color: $warn-color;
  }

}