@import '../../../styles.scss';

.text-note-detail {
  height: 100vh;
  background: $gray-color;

  .text-note-detail__back {
    max-width: 2rem;
    margin: 1rem 0;
    cursor: pointer;
  }

  .text-note-detail__content {
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 3rem 2rem;
    max-width: 400px;
    margin: 0 auto;

    .text-note-detail__form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text-note-detail__error-message {
        font-size: 12px;
        display: inline-block;
        margin: 0 0 1rem;
        color: $warn-color;
      }

      input,
      textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 0 0 0.5rem;
        padding: 0.5rem;
      }

      textarea {
        min-height: 8rem;
      }
    }

    .text-note-detail__btn-save {
      background-color: $primary-color;
      color: $white-color;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}