<div class="text-note-detail">
  <div class="container">
    <img class="text-note-detail__back" src="arrow-left-icon.svg" alt="ícone seta para a esquerda" [routerLink]="'/'" />

    <div class="text-note-detail__content">
      <form (submit)="formSubmit()" class="text-note-detail__form" [formGroup]="noteForm">
        <input type="text" formControlName="title" placeholder="Título *" />
        @if(noteForm.get('title')?.invalid && noteForm.get('title')?.touched) {
        <p class="text-note-detail__error-message"><sup>*</sup>Campo obrigatório</p>
        }

        <textarea formControlName="content" placeholder="Conteúdo *"></textarea>
        @if(noteForm.get('content')?.invalid && noteForm.get('content')?.touched) {
        <p class="text-note-detail__error-message"><sup>*</sup>Campo obrigatório</p>
        }

        <button type="submit" class="text-note-detail__btn-save" [disabled]="noteForm.invalid">Salvar</button>
      </form>

      <ng-template #loading>
        <div class="loading-container">
          <img src="/loading.gif" alt="">
        </div>
      </ng-template>
    </div>
  </div>
</div>