body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// colors
$primary-color: #06929f;
$secondary-color: #003A40;
$warn-color: #F54766;
$white-color: #fff;
$black-color: #000;
$text-color: #333;

// responsive
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1366px;

// spacing 
$item-padding: 1rem;
$item-margin: 0.9rem;

// theme 
$border-radius: 0.5rem;

// texts styles
$font-weight-bold: 700;
$font-weight-medium: 400;
$font-weight-light: 300;
